{% extends "base.html" %}
{% block content %}
  <div class="mb-2 d-flex justify-content-between">
    <h1>{{ person }}님의 프로필 페이지</h1>
    <div>
      <p>팔로잉
        {{ person.followings.all|length }}
        / 팔로워
        {{ person.followers.all|length }}</p>
      {% if request.user != person %}
        <form action="{% url "accounts:follow" person.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow">
          {% else %}
            <input type="submit" value="Follow">
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
  <div class="user_detail mb-5">
    <p>회원 번호:
      {{ person.id }}</p>
    <p>회원 이름:
      {{ person }}</p>
    <p>가입 날짜:
      {{ person.date_joined}}</p>
    <hr>
  </div>
  <div class="board-comments">
    <div class="boards mb-5">
      <h2>작성한 글</h2>
      {% if boards %}
        <ul>
          {% for board in boards %}
            <li>글 번호:
              {{ board.id }}</li>
            <ul>글 제목:
              <a href="{% url "boards:detail" board.pk %}">{{ board.title }}</a>
            </ul>
          {% endfor %}
        </ul>
      {% else %}
        <p>아직 작성한 글이 없습니다.</p>
      {% endif %}
      <hr>
    </div>
    <div class="comments">
      <h2>작성한 댓글</h2>
      {% if comments %}
        {% for comment in comments %}
          <p>글 번호:
            {{ comment.board_id }}</p>
          <p>댓글:
            <a href="{% url "boards:detail" comment.board_id %}">{{ comment.content }}</a>
          </p>

        {% endfor %}
      {% else %}
        <p>아직 작성한 댓글이 없습니다.</p>
      {% endif %}
      <hr>
    </div>
    <div class="followings">
      <h2>팔로잉 목록</h2>
      {% if followings %}
        {% for following in followings %}
          <a href="{% url "accounts:profile" following.pk%}">
            {{ following.username }}</a>
        {% endfor %}
      {% else %}
        <p>아직 팔로우한 사람이 없습니다.</p>
      {% endif %}
      <hr>
    </div>
    <div class="followers">
      <h2>팔로워 목록</h2>
      {% if followers %}
        {% for follower in followers %}
          <a href="{% url "accounts:profile" follower.pk%}">
            {{ follower.username }}</a>
        {% endfor %}
      {% else %}
        <p>아직 팔로워가 없습니다.</p>
      {% endif %}
      <hr>
    </div>
  </div>
{% endblock content %}